---
import dev from '../assets/skills.svg';
---

<section class="md:max-w-screen-xl flex md:flex-row flex-col md:flex-wrap items-center justify-between mx-auto p-4">
    <div class="md:w-1/2">
        <img src={dev.src} width={dev.width} height={dev.height} alt="image developer peru t-shirt" />
    </div>
    <div class="md:w-1/2">
        <h2 class="leading-loose text-lg" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt quo quibusdam facilis fugiat veniam aliquid corporis sed odio. Neque assumenda voluptas molestiae est voluptatum aliquam totam earum possimus. Molestias, quas!</h2>
        
    </div>
</section>