---
const projects = ["PeruinJapan", "GYC Corp", "SIAME", "Embassy of Peru"];
import { Image } from "astro:assets";
---

<section class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
  {
    projects.map((project) => (
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-2 w-full md:w-1/2">
        <a href="#">
          <Image
            src="https://res.cloudinary.com/dcajzjjmh/image/upload/v1695282743/personal-web/o5bit3xliv9vf8qgg7t6.avif"
            alt="descriptive text"
            width="400"
            height="150"
          />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
              {project}
            </h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
            You can find information on Peruvian gastronomy (list of
            restaurants, suppliers, recipes for typical dishes), Peruvian
            products (coffee and pisco) as well as a guide for doing business
            and investing in Peru.
          </p>
        </div>
      </div>
    ))
  }
</section>
