---
import dev from '../assets/dev.svg';
---

<section class="md:max-w-screen-xl flex md:flex-row flex-col md:flex-wrap items-center justify-between mx-auto p-4">
    <div class="md:w-1/2">
        <h1 class="text-4xl py-4">Hi There!
        </h1>
        <p class="leading-loose text-lg" >My name is <strong>Cesar Murillo</strong> and I'm a <strong>full-stack developer</strong> based in <strong>Tokyo</strong>.
            With a solid 18-year career in the computer and information technology industry in Japan, I have developed a wide range of skills and experience in multiple roles, including Help Desk, Software Development, and Network Infrastructure Management. For the past 15 years, I have had the honor of working at the Embassy of Peru, providing cutting-edge technological solutions and ensuring smooth IT operations for the embassy.</p>
        
    </div>
    <div class="md:w-1/2">
        <img src={dev.src} width={dev.width} height={dev.height} alt="image developer lewagon" />
    </div>
</section>